.left-3 {
  left: 3rem;
}
.h-75 {
  height: 75vh;
  max-height: 400px;
}

.bg-login {
  background-color: rgba(49, 46, 129, 0.7);
  backdrop-filter: blur(8px);
  -webkit-box-shadow: 3px 3px 63px -4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 63px -4px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 63px -4px rgba(0, 0, 0, 0.6);
}
@supports (backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) {
  .bg-login {
    /* Styles if backdrop-filter is supported */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* For Safari */
    background-color: rgba(49, 46, 129, 0.3); /* Adjusted for blur */
    -webkit-box-shadow: 3px 3px 63px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 3px 63px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 63px -4px rgba(0, 0, 0, 0.6);
  }
}
.bg-login-img {
  background-image: url(./images/login-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-transparent {
  background-color: transparent;
}
.text-transparent {
  color: transparent;
}

.p-tabview .p-tabview-nav,
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
.p-tabview .p-tabview-nav li .p-tabview-nav-link,
.p-tabview .p-tabview-panels {
  background-color: transparent;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link,
.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  color: var(--indigo-50);
}
.p-tabview .p-tabview-nav .p-tabview-ink-bar {
  background-color: var(--indigo-50);
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: var(--indigo-100);
}

.p-inputtext:enabled:focus {
  box-shadow:
    inset 0 0 0 1px var(--indigo-300),
    inset 0 0 0 1px var(--indigo-300),
    inset 0 0 0 1px var(--indigo-300),
    inset 0 0 0 1px var(--indigo-300);
}

.p-tabview .p-tabview-nav {
  justify-content: center;
}

.p-password-input,
.p-icon-field {
  width: 100%;
}
.p-password-input {
  padding-left: 3rem;
}
.pi {
  z-index: 100;
}

#loginForm .p-inline-message.p-inline-message-error .p-inline-message-icon {
  color: var(--pink-300);
}
